$height: 30px;

.search-input {
  position: relative;
  display: flex;

  .search-icon {
    position: absolute;
    height: 100%;
    padding: 0 8px;
    display: flex;
    align-items: center;
    color: #939ca7;
  }

  input {
    height: $height;
    //width: 340px;
    border: 2px solid #B8C4CF;
    border-radius: 4px;
    //text-indent: 36px;
    text-indent: 8px;
  }

  input:focus {
    outline: none;
    border: 2px solid #6f767f;
    border-radius: 4px;
  }

  input::-webkit-input-placeholder {
    font-size: 18px;
    //line-height: 1;
  }

  .button {
    height: $height;
    background-color: #e5e5e5;
    cursor: pointer;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    border: 2px solid #bbbbbb;
    border-radius: 4px;

    mat-icon {
      color: #a7a7a7;
    }
  }

  .search-input {
    height: auto !important;
    border: 1px solid #B8C4CF !important;
    border-radius: 4px !important;
    text-indent: 8px !important;
    background: #fff !important;
  }
}
