<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cidade-heading" data-cy="CidadeCreateUpdateHeading" jhiTranslate="academiaApp.cidade.home.createOrEditLabel">
        Create or edit a Cidade
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="academiaApp.cidade.nomeCidade" for="field_nomeCidade">Nome Cidade</label>
          <input
            type="text"
            class="form-control"
            name="nomeCidade"
            id="field_nomeCidade"
            data-cy="nomeCidade"
            formControlName="nomeCidade"
          />
          <div *ngIf="editForm.get('nomeCidade')!.invalid && (editForm.get('nomeCidade')!.dirty || editForm.get('nomeCidade')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomeCidade')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomeCidade')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              This field is required to be at least 3 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="academiaApp.cidade.observacao" for="field_observacao">Observacao</label>
          <input
            type="text"
            class="form-control"
            name="observacao"
            id="field_observacao"
            data-cy="observacao"
            formControlName="observacao"
          />
          <div *ngIf="editForm.get('observacao')!.invalid && (editForm.get('observacao')!.dirty || editForm.get('observacao')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('observacao')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 20 }"
            >
              This field is required to be at least 20 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="academiaApp.cidade.estado" >Estado</label>
          <ng-select  class="ng-select-padding"
                      (change)="selecionarItem($event)"
                      (keyup.enter)="pesquisarEstadoPeloNome($event)"
                      placeholder="{{nomeEstado}}">
            <ng-option [value]="estado"
              *ngFor="let estado of estadosSharedCollection; trackBy: trackEstadoById">
              {{ estado.nomeEstado }}
            </ng-option>
          </ng-select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="academiaApp.cidade.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>
      <div >

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
