<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cidade">
      <h2 data-cy="cidadeDetailsHeading"><span jhiTranslate="academiaApp.cidade.detail.title">Cidade</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cidade.id }}</span>
        </dd>
        <dt><span jhiTranslate="academiaApp.cidade.nomeCidade">Nome Cidade</span></dt>
        <dd>
          <span>{{ cidade.nomeCidade }}</span>
        </dd>
        <dt><span jhiTranslate="academiaApp.cidade.observacao">Observacao</span></dt>
        <dd>
          <span>{{ cidade.observacao }}</span>
        </dd>
        <dt><span jhiTranslate="academiaApp.cidade.estado">Estado</span></dt>
        <dd>
          <div *ngIf="cidade.estado">
            <a [routerLink]="['/estado', cidade.estado?.id, 'view']">{{ cidade.estado?.sigla }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="academiaApp.cidade.user">User</span></dt>
        <dd>
          <span>{{ cidade.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cidade', cidade.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
